{%  extends "layout.html" %}
{%  block title %}Adding | {{ super() }}{% endblock %}
{% block content %}<h1>{{ address }}</h1>
    <ul>
    {% for data in data %}
    <li>Address: {{data.Address}}</li>
    <li>Distance: {{"%.2f" % data.Dist}}km</li>
    <li>2016/17 : {% if data.TwentySixteen == 0 %}
    <p style="color:green">All applications admitted
        {% elif (data.Dist*1000) <= (data.TwentySixteen) %}
        <p style="color:green">{{ data.TwentySixteen }}m
            {% else %}
    <p style="color:red">{{ data.TwentySixteen }}m
    {% endif %} </li>

        <li>2015/16 : {% if data.TwentyFifteen == 0 %}
    <p style="color:green">All applications admitted
        {% elif (data.Dist*1000) <= (data.TwentyFifteen) %}
        <p style="color:green">{{ data.TwentyFifteen }}m
            {% else %}
    <p style="color:red">{{ data.TwentyFifteen }}m
    {% endif %} </li>

        <li>2014/15 : {% if data.TwentyFourteen == 0 %}
    <p style="color:green">All applications admitted
        {% elif (data.Dist*1000) <= (data.TwentyFourteen) %}
        <p style="color:green">{{ data.TwentyFourteen }}m
            {% else %}
    <p style="color:red">{{ data.TwentyFourteen }}m
    {% endif %} </li>
        <li></li>
    {% endfor %}

   </ul>
</div>
    <div class="grid-100">
        <form action="{{ url_for('save') }}" method="POST">
            <label>Enter your postcode</label>
            <input type="text" name="postcode" value="{{ saves.get('postcode', '') }}" autofocus>
            <input type="submit" value="Let's Go!">
        </form>
    </div>
</div>{% endblock %}